{{#section 'styles'}}
<link rel="stylesheet" href="css/home.css">
{{/section}}

<h1>Página Home</h1>

{{#if gostandoDeExpHbs}}
<p>Estou gostando de Express Handlebars.</p>
{{else}}
<p>Estou odiando Express Handlebars.</p>
{{/if}}

<br><br>

<h3>Tabela - Pessoas</h3>

<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Nome</td>
            <td>Email</td>
            <td>Senha</td>
        </tr>
    </thead>

    {{#each dados }}
        <tr>
            <td>{{id}}</td>
            <td>{{nome}}</td>
            <td>{{email}}</td>
            <td>{{senha}}</td>
        </tr>
    {{/each}}
</table>